__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.tox/
.nox/
.coverage
.coverage.*
coverage.xml
nosetests.xml
.pytest_cache/
.hypothesis/
.ruff_cache/
.mypy_cache/
.pytype/
.pyre/
.idea/
.vscode/
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/
*.log
*.sqlite3
*.db
pip-wheel-metadata/
*.pid
*.seed
*.dat
*.orig
*.rej
*.bak
*.swp
*.swo
*.tmp
*.temp
*.sublime-workspace
*.sublime-project
*.ipynb_checkpoints
.DS_Store
Thumbs.db
._*
